.App {
  text-align: center;
}
.App .firstDIv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 250);
}

.router{
  width: 1345px;
}

