.detail_main_div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 0 100px;
    flex-wrap: wrap;
    background-color: white;
}

.detail_left_div {
    width: 40%;
    min-width: 200px;
    margin: 30px;
}

.detail_left_div h1 {
    text-align: center;
    font-size: 32px;
}

.detail_left_div img {
    width: 100%;
    border: 1px solid grey;
}

.detail_right_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 300px;
    margin: 30px;
}

.detail_right_div h1 {
    width: 100%;
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 20px;
}

.detail_right_div label {
     width: 100%;
}

.detail_right_div input {
    height: 48px;
    width: 100%;
    border: 1px solid grey;
    margin: 10px 0;
    border-radius: 5px;
    padding: 0px 5px;
}


.detail_right_div button {
    width: 200px;
    transition: all .3s ease-out !important;
}

.detail_right_div button:hover {
    transform: scale(1.06);
}

.meme_img {
    width: 500px;
    margin: auto;
    border: 1px solid grey;
}

.spinner {
    width: 3em;
    margin: auto;
    height: 3em;
    cursor: not-allowed;
    border-radius: 50%;
    border: 2px solid #444;
    box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
    animation: rot55 0.7s linear infinite;
}

.spinnerin {
    border: 2px solid #444;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rot55 {
    to {
        transform: rotate(360deg);
    }
}

