.Card_div {
    height: 300px;
    overflow: hidden;
    width: 290px;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-out;
    background-color: white;
}

.Card_div:hover {
    box-shadow: 1px 1px 5px 1px rgb(192, 192, 192);
    transform: scale(1.01);
}

.Card_div img {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Card_div h2 {
    margin: 10px;
    text-align: center;
}