.dash_baap {
    width: 98.9vw;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1332px;
}